    #cuerpo {
        background-color: rgb(226, 225, 225);
        color: rgb(255, 255, 255);
        text-shadow: black;
    }
    
    #tex {
        text-align: center;
        -webkit-text-stroke: 1px black;
        font-family: 'Courier New', Courier, monospace;
        font-size: 50px;
    }
    
    #caja {
        width: 800px;
        height: 490px;
        margin-top: 10px;
        margin-left: 260px;
        color: rgb(255, 255, 255);
        text-shadow: black;
        background-color: rgb(173, 175, 182);
        border-radius: 12px;
    }
    
    #nom {
        margin: 20px;
        font-family: 'Courier New', Courier, monospace;
        font-size: 16px;
    }
    
    #in {
        border-radius: 5px;
        font-size: 20px;
    }
    
    #edad {
        border-radius: 5px;
        font-size: 20px;
    }
    
    #ini {
        border-radius: 5px;
        font-size: 20px;
    }
    
    #inu {
        border-radius: 5px;
        font-size: 20px;
    }
    
    #bot {
        border-radius: 4px;
        font-size: 19px;
        width: 100px;
        background-color: rgb(255, 255, 255);
        border-radius: 5px;
        color: rgb(73, 73, 73);
        background-color: rgb(255, 255, 255);
        cursor: pointer;
    }
    
    #copi {
        text-align: center;
        font-family: sans-serif;
        color: rgb(51, 51, 51);
        font-size: 14px;
    }
    
    #int {
        text-align: center;
        font-family: sans-serif;
        font-size: 16px;
        color: rgb(51, 51, 51);
    }